body {
    background-image: url("./imagedoc-darknoise.png");
    background-size: 21%;
    image-rendering: pixelated;
}
h1 {
    color: #00E666;
    font-size: 315%;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
    font-family: Courier New, Courier;
}
p.contact {
    margin-bottom: 5px;
    margin-left: 50px;
    color: #00E666;
    font-size: 130%;
    font-family: Courier New, Courier;
}
h2 {
    color: #00E666;
    font-size: 215%;
    margin-left: 50px;
    font-family: Courier New, Courier;
}
h3 {
    color: #00E666;
    font-size: 200%;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: Courier New, Courier;
}
p.admission{
    color: #212121;
    margin-left: 50px;
    font-family: Courier New, Courier;
}

p.main {
    color: #00E666;
    font-size: 130%;
    margin-left: 50px;
    margin-right: 225px;
    margin-top: 50px;
    font-family: Courier New, Courier;
}
a {
    color: #2ff8ff;
}
